
@{
    ViewBag.Title = "PayMent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner -->
<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li class="active menu__item"><a class="menu__link" href="/Home/Index">Trang Chủ <span class="sr-only">(current)</span></a></li>
                            <li class=" menu__item"><a class="menu__link" href="/Home/About">Về Chúng Tôi</a></li>
                            <li class="dropdown menu__item">
                                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trang Phục Nam <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-6 multi-gd-img1 multi-gd-text ">
                                            <a href="/Home/Men"><img src="~/images/top2.jpg" alt=" " /></a>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <a class="title_list" style="font-size: 18px;">Quần áo</a>
                                                <li><a href="/Home/Men">Áo Khoác</a></li>
                                                <li><a href="/Home/Men">Áo Thun</a></li>
                                                <li><a href="/Home/Men">Áo sơ mi</a></li>
                                                <li><a href="/Home/Men">Polo</a></li>
                                                <li><a href="/Home/Men">Quần ngắn</a></li>
                                                <li><a href="/Home/Men">Quần dài</a></li>
                                                <li><a href="/Home/Men">Bé trai</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <a class="title_list" style="font-size: 18px;">Phụ kiện</a>
                                                <li><a href="/Home/Men">Khẩu trang</a></li>
                                                <li><a href="/Home/Men">Tất</a></li>
                                                <li><a href="/Home/Men">Bao lô,túi xách</a></li>
                                                <li><a href="/Home/Men">Nón</a></li>
                                                <li><a href="/Home/Men">Khác</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown menu__item">
                                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trang Phục Nữ<span class="caret"></span></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <a class="title_list" style="font-size: 18px;">Quần áo</a>
                                                <li><a href="/Home/Womens">Áo Khoác</a></li>
                                                <li><a href="/Home/Womens">Áo Thun</a></li>
                                                <li><a href="/Home/Womens">Áo sơ mi</a></li>
                                                <li><a href="/Home/Womens">Polo</a></li>
                                                <li><a href="/Home/Womens">Quần ngắn</a></li>
                                                <li><a href="/Home/Womens">Quần dài</a></li>
                                                <li><a href="/Home/Womens">Bé gái</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <a class="title_list" style="font-size: 18px;">Phụ kiện</a>
                                                <li><a href="/Home/Womens">Khẩu trang</a></li>
                                                <li><a href="/Home/Womens">Tất</a></li>
                                                <li><a href="/Home/Womens">Bao lô,túi xách</a></li>
                                                <li><a href="/Home/Womens">Nón</a></li>
                                                <li><a href="/Home/Womens">Khác</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 multi-gd-img multi-gd-text ">
                                            <a href="/Home/Womens"><img src="~/images/top1.jpg" alt=" " /></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class=" menu__item"><a class="menu__link" href="/Home/Contact">Liên Hệ</a></li>
                            <li class=" menu__item"><a class="menu__link" href="/Home/Blog">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="top_nav_right">
            <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                <form action="#" method="post" class="last">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="display" value="1">
                    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                </form>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //banner-top -->
<!-- Modal1 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body-sub_agile">
                <div class="col-md-8 modal_body_left modal_body_left1">
                    <h3 class="agileinfo_sign">Đăng nhập <span>Ngay</span></h3>
                    <form>
                        <div class="styled-input agile-styled-input-top">
                            <input type="email" name="Email" required="">
                            <label>Email</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="password" name="Password" required="">
                            <label>Mật khẩu</label>
                            <span></span>
                        </div>
                        <input type="submit" value="Đăng nhập">
                    </form>
                    <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                        <li>
                            <a href="#" class="facebook">
                                <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                                <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <p><a href="#" data-toggle="modal" data-target="#myModal2"> Bạn đã chưa có tài khoản?</a></p>

                </div>
                <div class="col-md-4 modal_body_right modal_body_right1">
                    <img src="~/images/log_pic.jpg" alt=" " />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Modal content-->
    </div>
</div>
<!-- //Modal1 -->
<!-- //Modal1 -->
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body-sub_agile">
                <div class="col-md-8 modal_body_left modal_body_left1">
                    <h3 class="agileinfo_sign">Đăng ký <span>Ngay</span></h3>
                    <form>
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" name="Name" required="">
                            <label>Họ tên</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="email" name="Email" required="">
                            <label>Email</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="password" name="password" required="">
                            <label>Mật khẩu</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="password" name="Confirm Password" required="">
                            <label>Nhập lại mật khẩu</label>
                            <span></span>
                        </div>
                        <input type="submit" value="Đăng ký">
                    </form>
                    <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                        <li>
                            <a href="#" class="facebook">
                                <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                                <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <p>
                        <a href="#"></a>Tôi đồng ý với các điều khoản của bạn
                    </p>

                </div>
                <div class="col-md-4 modal_body_right modal_body_right1">
                    <img src="~/images/log_pic.jpg" ) }} alt=" " />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Modal content-->
    </div>
</div>
<!-- //Modal2 -->

<section class="checkout_wthree py-sm-5 py-3">
    <div class="container">
        <div class="check_w3ls">
            <div class="d-sm-flex justify-content-between mb-4">
                <h4>
                    Xem lại đơn hàng của bạn
                </h4>
                <h4 class="mt-sm-0 mt-3">
                    Giỏ hàng có:
                    <span>3 sản phẩm</span>
                </h4>
            </div>
            <div class="checkout-right">
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Tên sản phẩm</th>

                            <th>Giá</th>
                            <th>Gỡ bỏ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="rem1">
                            <td class="invert">1</td>
                            <td class="invert-image">
                                <a href="#">
                                    <img src="~/images/pm1.jpg" alt=" " class="img-responsive">
                                </a>
                            </td>
                            <td class="invert">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus">&nbsp;</div>
                                        <div class="entry value">
                                            <span>1</span>
                                        </div>
                                        <div class="entry value-plus active">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">Áo sơ mi đen</td>

                            <td class="invert">500.000đ</td>
                            <td class="invert">
                                <div class="rem">
                                    <div class="close1"> </div>
                                </div>

                            </td>
                        </tr>
                        <tr class="rem2">
                            <td class="invert">2</td>
                            <td class="invert-image">
                                <a href="#">
                                    <img src="~/images/pf1.jpg" alt=" " class="img-responsive">
                                </a>
                            </td>
                            <td class="invert">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus">&nbsp;</div>
                                        <div class="entry value">
                                            <span>1</span>
                                        </div>
                                        <div class="entry value-plus active">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">Áo ngắn tay xanh nhạt</td>

                            <td class="invert">875.000đ</td>
                            <td class="invert">
                                <div class="rem">
                                    <div class="close2"> </div>
                                </div>

                            </td>
                        </tr>
                        <tr class="rem3">
                            <td class="invert">3</td>
                            <td class="invert-image">
                                <a href="#">
                                    <img src="~/images/pb3.jpg" alt=" " class="img-responsive">
                                </a>
                            </td>
                            <td class="invert">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus">&nbsp;</div>
                                        <div class="entry value">
                                            <span>1</span>
                                        </div>
                                        <div class="entry value-plus active">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">Bộ áo sơ mi và quần</td>

                            <td class="invert">575.000đ</td>
                            <td class="invert">
                                <div class="rem">
                                    <div class="close3"> </div>
                                </div>

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row checkout-left mt-5">
                <div class="col-md-4 checkout-left-basket">
                    <h4>Xem lại giỏ hàng</h4>
                    <ul>
                        <li>
                            Áo sơ mi đen
                            <i>-</i>
                            <span>500.000đ </span>
                        </li>
                        <li>
                            Áo ngắn tay xanh nhạt
                            <i>-</i>
                            <span>875.000đ </span>
                        </li>
                        <li>
                            Bộ áo sơ mi và quần
                            <i>-</i>
                            <span>575.000đ</span>
                        </li>
                        <li>
                            Tổng tiền
                            <i>-</i>
                            <span>1.950.000đ</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 address_form">
                    <h4>Địa chỉ giao hàng</h4>
                    <form action="#" class="creditly-card-form shopf-sear-headinfo_form">
                        <div class="creditly-wrapper wrapper">
                            <div class="information-wrapper">
                                <div class="first-row form-group">
                                    <div class="controls">
                                        <label class="control-label">Họ tên: </label>
                                        <input class="billing-address-name form-control" type="text" name="name" placeholder="Họ tên">
                                    </div>
                                    <div class="card_number_grids">
                                        <div class="card_number_grid_left">
                                            <div class="controls">
                                                <label class="control-label">Số điện thoại:</label>
                                                <input class="form-control" type="text" placeholder="Số điện thoại">
                                            </div>
                                        </div>
                                        <div class="card_number_grid_right">
                                            <div class="controls">
                                                <label class="control-label">Địa chỉ </label>
                                                <input class="form-control" type="text" placeholder="Địa chỉ">
                                            </div>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Thành phố: </label>
                                        <input class="form-control" type="text" placeholder="Thành phố">
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Loại địa chỉ: </label>
                                        <select class="form-control option-fieldf">
                                            <option>Văn phòng</option>
                                            <option>Nhà</option>
                                            <option>Doanh nghiệp</option>

                                        </select>
                                    </div>
                                </div>
                                <button class="submit check_out">Đặt Hàng</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

